.DashBoard__Charts{
  margin-bottom: 20px;
  display: flex;
  width: 100%;  
  min-height: 350px;
  gap: 10px;
  align-items: stretch;
}
.chart__Left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.chart{
    display: flex;
    gap: 10px;
    flex: 1;
}

/* chart__Right__content */
.chart__Right__content{
 background: linear-gradient(to left, #1B51B8, #2769EB);
 width: 100%;
 height: 100%;
 border-radius: 18px;
   padding: 20px;
  
}
.Chart__Right {
 
     flex: 1;
     gap: 10px;
}

@media (max-width:648px) {
    .DashBoard__Charts{
   flex-direction: column;
   height: 520px;
    }


  .chart__Left {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
  }
  .chart{
    display: contents;
  }
    .Dashoard__Box {
    flex: none; 
  }
  
}