.main {
  display: flex;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.side__Warp {
  width: 300px;
  background-color: var( --bg-sidebar);
  transition:
    transform 0.3s ease,
    width 0.3s ease;
  flex-shrink: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.side__Warp.close {
  width: 0;
}

/* Content */
.content {
  flex: 1;
  background-color: var( --bg-main);
  padding: 20px;
  min-height: 100vh;
  transition: margin 0.3s ease;
  min-width: 0;
}

@media (max-width: 648px) {
  .main {
    flex-direction: column;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
  }

  .side__Warp {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
  }

  .side__Warp.openSide {
    transform: translateX(0);
  }

  .content {
    position: relative;
    z-index: 0;
  }
}
