.sideBar {
  width: 100%;
  height: 100%;
  background-color: var(--bg-card);
  color: var(--text-secondary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Links {
  color: var(--text-secondary);
}
.Links:hover {
  color: black;
}
.Link__Home{
  color: var(--text-secondary);
}

.sideBarItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.sideBarItem:hover {
  background-color: #f0f0f0;
  color: black;
}

.sideBarItem div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sideBarItem h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

/* Prdouct__DropDown */
.Prdouct {
  cursor: pointer;
}
.Product__DropDown {
  margin-left: 30px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}
.open {
  max-height: 200px;
  opacity: 1;
}

.Product__DropDown::before {
  content: "";
  border-left: 1px solid #d8d8d8;
  position: absolute;
  top: -17px;
  left: -10px;
  height: 100%;
}
.Product__DropDown p {
  font-size: 13px;
  cursor: pointer;
}

.Product__DropDown p:hover {
  color: blue;
}
