.SignUp {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url("../../images/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.SignUp__right {
  background-color: #e4e4e4;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.SignUp__right img {
  width: 45px;
}
.Sign__Image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* SignUp__Left */
.SignUp__Left {
  padding: 0 40px;
  color: #403E57 ;
  width: 90%;
}
.SignUp__Left h1 {
  font-weight: 800;

}
.SignUp__Left h1 span {
  color: #0857F5;
}

@media (max-width: 1024px) and (min-width: 649px) {
  .SignUp {
    grid-template-columns: 1.5fr 1fr;
    gap: 40px; 
  }
}

@media (max-width: 648px) {
  .SignUp__Left {
    display: none;
  }
  .SignUp {
    grid-template-columns: 1fr;
  }
}
