*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    background-color: #EBE9E9 !important;
  height: 100%;

 overflow-x: hidden;
}
:root{
    --bg-main: #EBE9E9;
  --bg-card: #fff;
  --bg-sidebar: #f5f5f5;
  --text-main: #111;
  --text-secondary: #5E5D72;
  --bg-icon:#d6deed82;
  --bg-Side-Icon:#007bff;
  --p-text:rgba(83, 80, 80, 0.68);
  --p-table:#403e57;
}

a{
    text-decoration: none !important;
    color: var(--text-main) ;
}
input , button{
    outline: none;
    border: none;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

body::-webkit-scrollbar-thumb {
  background-color: #1B51B8; 
  border-radius: 6px; /
}
/* LIGHT MODE */


/* DARK MODE */
body.dark {
  --bg-main: #071739;
  --bg-card: #112143;
  --bg-sidebar: #1a1a1a;
  --text-main: #fff;
  --text-secondary: #fff;
   --bg-Side-Icon:#fff;
   --p-text:#fff;
     --bg-icon:#112755;
      --bg-sidebar:#071739;
      --p-table:#fff
}